.main-content {
    padding: 0px 10px;
}

.main-content .header {
    margin-bottom: 16px;
}

.main-content .header h1 {
    color: #e71a0f;
    font-size: 32px;
}

.term-condition-content ul {
    list-style: none;
    padding-left: 0px;
}