<div style="background-color: #fcfdf0; padding-top: 10px; padding-bottom: 10px">
    <div class="container">
        <div class="header">
            <h3>Nội dung phim</h3>
        </div>
        <div class="movie">
            <div class="movie-image">
                <img id="featured" [src]="imageUrl" alt="">
                <!-- <div class="select-image">
                    <div *ngFor="let image of imagesList; let i = index" (mouseover)="onSelectImage(image.src, i)">
                        <img [ngClass]="{active: i == oldId}" class="thumbnail" src="{{image.src}}" alt="">
                    </div>
                </div> -->
            </div>
            <div class="movie-content">
                <div class="movie-title">
                    <h4>Batman</h4>
                </div>
                <div class="movie-text">
                    <p><b>Đạo diễn: </b> Lee Yong Zoo</p>
                    <p><b>Diễn viên: </b> Gong Yoo, Park Bo Gum, Jo Woo Jin, Jang Young Nam, Park Byung Eun</p>
                    <p><b>Thể loại: </b> Hành Động, Khoa Học Viễn Tưởng, Tâm Lý</p>
                    <p><b>Khởi chiếu: </b> 15/04/2021</p>
                    <p><b>Thời lượng: </b>114 phút</p>
                    <p><b>Ngôn ngữ: </b> Tiếng Hàn - Phụ đề Tiếng Việt</p>
                </div>
                <div class="movie-button">
                    <button class="btn btn-danger">Trailer</button>
                    <button class="btn btn-danger" (click)="showtime()">Đặt vé</button>
                </div>
            </div>
        </div>
    </div>
</div>