.main-content {
    padding: 0px 10px;
}

.main-content .header {
    margin-bottom: 16px;
}

.main-content .header h1 {
    color: #e71a0f;
    font-size: 32px;
}

.main-content .main .intro {
    height: 350px;
}

.main-content .main .intro iframe {
    width: 100%;
    height: 350px;
}

.main-content .main .desc {
    margin-top: 16px;
}

.about-img-cgv {
    float: left;
    width: 100%;
}

.about-img-cgv ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.about-img-cgv ul li {
    width: 32%;
    list-style: none;
    height: 169px;
    border: 1px solid;
    margin: 10px 4px;
    box-shadow: 3px 3px 3px #333;
    border-radius: 3px;
}

.larger-about-img img {
    float: left;
    width: 100%;
    height: 169px;
    border-radius: 3px;
}

.desc p {
    font-family: Verdana, Arial, sans-serif;
    color: #636363;
    font-size: 14px;
    line-height: 24px;
}

@media only screen and (max-width: 1200px) {
    .about-img-cgv ul li {
        width: 48%;
    }
}