<div class="container mb-5">
    <div class="header">
        <h3 class="title">featured jobs listings</h3>
        <p>A better career is out here. We'll help you find it to use</p>
    </div>
    <div class="career-list">
        <ul class="career-row">
            <li>
                <div class="career-table">
                    <a href=""><img src="https://eyecix.com/html/careerfy/extra-images/featured-listing-1.jpg" alt=""></a>
                    <div class="career-text">
                        <h4>Dropbox-- UX designer</h4>
                        <div class="career-option">
                            <ul>
                                <li><i class="fas fa-map-marker-alt"></i><span>Hà nội</span></li>
                                <li><i class="fas fa-dollar-sign"></i><span>Thỏa thuận</span></li>
                                <li><a href=""><span>Chi tiết</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="career-table">
                    <a href=""><img src="https://eyecix.com/html/careerfy/extra-images/featured-listing-1.jpg" alt=""></a>
                    <div class="career-text">
                        <h4>Dropbox-- UX designer</h4>
                        <div class="career-option">
                            <ul>
                                <li><i class="fas fa-map-marker-alt"></i><span>Hà nội</span></li>
                                <li><i class="fas fa-dollar-sign"></i><span>Thỏa thuận</span></li>
                                <li><a href=""><span>Chi tiết</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="career-table">
                    <a href=""><img src="https://eyecix.com/html/careerfy/extra-images/featured-listing-1.jpg" alt=""></a>
                    <div class="career-text">
                        <h4>Dropbox-- UX designer</h4>
                        <div class="career-option">
                            <ul>
                                <li><i class="fas fa-map-marker-alt"></i><span>Hà nội</span></li>
                                <li><i class="fas fa-dollar-sign"></i><span>Thỏa thuận</span></li>
                                <li><a href=""><span>Chi tiết</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="career-table">
                    <a href=""><img src="https://eyecix.com/html/careerfy/extra-images/featured-listing-1.jpg" alt=""></a>
                    <div class="career-text">
                        <h4>Dropbox-- UX designer</h4>
                        <div class="career-option">
                            <ul>
                                <li><i class="fas fa-map-marker-alt"></i><span>Hà nội</span></li>
                                <li><i class="fas fa-dollar-sign"></i><span>Thỏa thuận</span></li>
                                <li><a href=""><span>Chi tiết</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="career-table">
                    <a href=""><img src="https://eyecix.com/html/careerfy/extra-images/featured-listing-1.jpg" alt=""></a>
                    <div class="career-text">
                        <h4>Dropbox-- UX designer</h4>
                        <div class="career-option">
                            <ul>
                                <li><i class="fas fa-map-marker-alt"></i><span>Hà nội</span></li>
                                <li><i class="fas fa-dollar-sign"></i><span>Thỏa thuận</span></li>
                                <li><a href=""><span>Chi tiết</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="career-table">
                    <a href=""><img src="https://eyecix.com/html/careerfy/extra-images/featured-listing-1.jpg" alt=""></a>
                    <div class="career-text">
                        <h4>Dropbox-- UX designer</h4>
                        <div class="career-option">
                            <ul>
                                <li><i class="fas fa-map-marker-alt"></i><span>Hà nội</span></li>
                                <li><i class="fas fa-dollar-sign"></i><span>Thỏa thuận</span></li>
                                <li><a href=""><span>Chi tiết</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="career-table">
                    <a href=""><img src="https://eyecix.com/html/careerfy/extra-images/featured-listing-1.jpg" alt=""></a>
                    <div class="career-text">
                        <h4>Dropbox-- UX designer</h4>
                        <div class="career-option">
                            <ul>
                                <li><i class="fas fa-map-marker-alt"></i><span>Hà nội</span></li>
                                <li><i class="fas fa-dollar-sign"></i><span>Thỏa thuận</span></li>
                                <li><a href=""><span>Chi tiết</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="career-table">
                    <a href=""><img src="https://eyecix.com/html/careerfy/extra-images/featured-listing-1.jpg" alt=""></a>
                    <div class="career-text">
                        <h4>Dropbox-- UX designer</h4>
                        <div class="career-option">
                            <ul>
                                <li><i class="fas fa-map-marker-alt"></i><span>Hà nội</span></li>
                                <li><i class="fas fa-dollar-sign"></i><span>Thỏa thuận</span></li>
                                <li><a href=""><span>Chi tiết</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
