<div class="main-content">
    <div class="main">
        <div class="header">
            <h1>
                Liên hệ với chúng tôi
            </h1>
        </div>
        <div class="intro">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25615.906364793133!2d106.70663701731654!3d10.78025381605616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf16ffaa20e46e87f!2sCJ+CGV+Vietnam!5e0!3m2!1sen!2s!4v1459915713967"
                frameborder="0"></iframe>
        </div>
        <div class="contact">
            <div class="address-contact">
                <h2>TRỤ SỞ CHÍNH</h2>
                <div class="contact-cgv">
                    <p>Tầng 2, Rivera Park Saigon - Số 7/28 Thành Thái, P.14, Q.10, Thành phố Hồ Chí Minh.</p>
                </div>
                <h2>DỊCH VỤ KHÁCH HÀNG</h2>
                <div class="contact-cgv">
                    <p>
                        Hotline: 1900 6017 Giờ làm việc: 8:00 - 22:00 Tất cả các ngày bao gồm cả Lễ Tết Email hỗ trợ: hoidap@cgv.vn
                    </p>
                </div>
                <h2>
                    LIÊN HỆ QUẢNG CÁO , TỔ CHỨC SỰ KIỆN & MUA VÉ NHÓM DÀNH CHO CÁC DOANH NGHIỆP
                </h2>
                <div class="contact-cgv">
                    <p>
                        Phòng kinh doanh: +84-28-3636 57 57 Ext: 278 (Ms. Thúy An) Hotline: 0981005390 Email: ad.cgv@cj.net
                    </p>
                </div>
            </div>
            <div class="contact-form">
                <p class="required">* Phải nhập thông tin</p>
                <form class="scaffold-form">
                    <div class="fieldset">
                        <ul class="form-list">
                            <li class="fields">
                                <div class="field">
                                    <label for="name" class="required">Tên</label>
                                    <div class="input-box">
                                        <input name="name" id="name" title="Tên" value="" class="input-text required-entry" type="text">
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="email" class="required">Email</label>
                                    <div class="input-box">
                                        <input name="email" id="email" title="Email" value="" class="input-text required-entry validate-email" type="email" autocapitalize="off" autocorrect="off" spellcheck="false">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label for="telephone">Điện thoại</label>
                                <div class="input-box">
                                    <input name="telephone" id="telephone" title="Điện thoại" value="" class="input-text" type="tel">
                                </div>
                            </li>
                            <li class="wide">
                                <label for="comment" class="required">Nội dung cần liên hệ</label>
                                <div class="input-box">
                                    <textarea name="comment" id="comment" title="Nội dung cần liên hệ" class="required-entry input-text" cols="5" rows="3"></textarea>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="buttons-set">
                        <button type="submit" title="Gửi đi" class="button"><span>Gửi đi</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>