<div class="header">
    <img src="https://www.cgv.vn/skin/frontend/cgv/default/images/cgvlogo.png" alt="CGV Cinemas" class="large" routerLink='/'>
    <div class="navigation">
        <ul class="menu">
            <div class="close-btn">
                <i class="fas fa-times fa-2x"></i>
            </div>
            <li class="menu-item"><a href="">Lịch chiếu</a></li>
            <li class="menu-item"><a routerLink="cgv-member">Thành viên</a></li>
            <li class="menu-item"><a routerLink='site'>Hệ thống rạp</a></li>
            <li class="menu-item">
                <a class="sub-btn">Cultureplex <i class="fas fa-angle-down"></i></a>
                <ul class="sub-menu">
                    <li class="sub-item"><a routerLink='online-store/movie-voucher'>Quần online</a></li>
                    <li class="sub-item"><a routerLink='groupsale'>Sự kiện & vé nhóm</a></li>
                    <li class="sub-item"><a routerLink='cgv-online'>E-CGV</a></li>
                    <li class="sub-item"><a routerLink='menu-concession'>CGV Restaurant</a></li>
                    <li class="sub-item"><a routerLink='gift-card'>Thẻ quà tặng</a></li>
                </ul>
            </li>
            <li class="menu-item"><a routerLink='login'>Đăng nhập/ Đăng ký</a></li>
        </ul>
    </div>
    <div class="menu-btn"><i class="fas fa-bars fa-2x"></i></div>
</div>
