<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
        <h2><span><img src="https://www.cgv.vn/skin/frontend/cgv/default/images/cgvlogo.png" alt="CGV Cinemas" class="large" routerLink='/'></span></h2>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li routerLinkActive="active" routerLink='dashboard'><a><span class="fas fa-bars"></span><span>Dashboard</span></a>
            </li>
            <li routerLinkActive="active" routerLink='./users'><a><span class="fas fa-user"></span><span>Quản lý người dùng</span></a>
            </li>
            <li routerLinkActive="active" routerLink='./products'><a><span class="fas fa-tasks"></span><span>Quản lý phim</span></a>
            </li>
            <li routerLinkActive="active" routerLink='./showtimes'><a><span class="fas fa-calendar-alt"></span><span>Quản lý lịch chiếu</span></a>
            </li>
            <li routerLinkActive="active" routerLink='./orders'><a><span class="fas fa-shopping-cart"></span><span>Orders</span></a>
            </li>
            <li routerLinkActive="active" routerLink='./sites'><a><span class="fas fa-landmark"></span><span>Sites</span></a>
            </li>
        </ul>
    </div>
</div>
<div class="main-content">
    <header>
        <div class="header-title">
            <h2>
                <label for="nav-toggle">
                <span class="fas fa-bars"></span>
                </label> Dashboard
            </h2>
        </div>
        <div class="search-wrapper">
            <span class="fas fa-search"></span>
            <input type="search" placeholder="Search...">
        </div>
        <div class="user-wrapper">
            <img src="https://www.nicepng.com/png/detail/128-1280406_view-user-icon-png-user-circle-icon-png.png" alt="" width="40px" height="40px">
            <div>
                <h4>Admin</h4>
                <small><a href="">Logout</a></small>
            </div>
        </div>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>