<div style="background-color: #fcfdf0;">
    <div class="container main">
        <div class="group-sale">
            <div class="intro-group-sale">
                <div class="gs-intro-vn home-title">
                    <h2></h2>
                </div>
                <div class="about-intro-group-sale">
                    <p>Bạn đang tìm giải pháp quảng cáo độc đáo để tăng doanh thu cho công ty?</p>
                    <p>Bạn muốn gửi quà tặng có ý nghĩa đến đối tác thay cho lời cảm ơn về mối hợp tác lâu bền?</p>
                    <p>Bạn muốn thưởng thức những bộ phim bom tấn thật riêng tư cùng bạn bè, người thân hay đồng nghiệp?</p>
                    <p class="icon-gs-contact">Với kinh nghiệm dẫn đầu trong việc tổ chức sự kiện chiếu phim trong không gian riêng biệt, cung cấp vé xem phim hoặc thẻ quà tặng với số lượng lớn cho doanh nghiệp, chúng tôi tự hào sẽ mang đến cho đối tác những giải pháp điện ảnh
                        chuyên nghiệp.</p>
                </div>
            </div>
            <div class="service-group-sale">
                <div class="gs-service-vn home-title">
                    <h2></h2>
                </div>
                <div>
                    <div class="cgv-list-service-group-sale">
                        <div class="service-bar">
                            <ul>
                                <li (click)="selectProgram('0', 0)" id="0" class="cgv-gs-os gs-da-ngoai active">
                                    <a>dã ngoại</a>
                                </li>
                                <li (click)="selectProgram('1', 1)" id="1" class="cgv-gs-os gs-tiec-tung">
                                    <a>tiệc tùng</a>
                                </li>
                                <li (click)="selectProgram('2', 2)" id="2" class="cgv-gs-os gs-the-qua-tang">
                                    <a>thẻ quà tặng</a>
                                </li>
                                <li (click)="selectProgram('3', 3)" id="3" class="cgv-gs-os gs-voucher">
                                    <a>voucher</a>
                                </li>
                                <li (click)="selectProgram('4', 4)" id="4" class="cgv-gs-os gs-khuyen-mai">
                                    <a>khuyến mãi</a>
                                </li>
                                <li (click)="selectProgram('5', 5)" id="5" class="cgv-gs-os gs-chu-de">
                                    <a>chủ đề</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <div class="content-outer">
                            <div class="content-details" [innerHTML]="selected_program | safe: 'html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-group-sale">
                <div class="gs-dicuss-vn home-title">
                    <h2></h2>
                </div>
                <div class="gs-contact-vn">
                    <h3>Gửi yêu cầu của bạn cho bộ phận Group Sales, chúng tôi sẽ trả lời bạn trong thời gian sớm nhất.</h3>
                    <div class="gs-contact-footer"></div>
                </div>
            </div>
        </div>
    </div>
</div>