<section class="section-home">
    <h1>Enjoy your time</h1>
</section>
<section class="section-two">
    <div class="container">
        <div class="movie-selection">
            <div class="home-title">
                <h2 class="movie"></h2>
            </div>
            <div class="cards">
                <div class="card">
                    <span class="movie-rating movie-rate-c13">C13</span>
                    <span class="event-49k"></span>
                    <img src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/1/2/1200x1800_1.jpg" alt="" class="product-image">
                    <div class="film-content">
                        <h3>BỐ GIÀ</h3>
                        <div class="button-control">
                            <a href="" class="button">Xem chi tiết</a>
                            <a href="" class="button">
                                <i class="fas fa-ticket-alt"></i><span>Đặt vé</span>
                            </a>
                        </div>
                    </div>
                    <div class="play-button"></div>
                </div>
                <div class="card">
                    <span class="movie-rating movie-rate-c16">C13</span>
                    <span class="event-49k"></span>
                    <img src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/m/a/main_poster_seobok_15_1.jpg" alt="" class="product-image">
                    <div class="film-content">
                        <h3>Người nhân bản</h3>
                        <div class="button-control">
                            <a href="" class="button">Xem chi tiết</a>
                            <a href="" class="button">
                                <i class="fas fa-ticket-alt"></i><span>Đặt vé</span>
                            </a>
                        </div>
                    </div>
                    <div class="play-button"></div>
                </div>
                <div class="card">
                    <span [ngClass]="{'movie-rating' : false , 'movie-rate-c13' : false}" [ngStyle]="{'display': false ?  '' : 'none'}">C13</span>
                    <span [ngClass]="{'event-49k': false}"></span>
                    <img src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/c/o/conan_24_-_main_poster_1__1.jpg" alt="" class="product-image">
                    <div class="film-content">
                        <h3>Thám tử lừng danh conan</h3>
                        <div class="button-control">
                            <a href="" class="button">Xem chi tiết</a>
                            <a href="" class="button">
                                <i class="fas fa-ticket-alt"></i><span>Đặt vé</span>
                            </a>
                        </div>
                    </div>
                    <div class="play-button"></div>
                </div>
                <div class="card">
                    <span [ngClass]="{'movie-rating' : true , 'movie-rate-c13' : true}" [ngStyle]="{'display': true ?  '' : 'none'}">C13</span>
                    <span [ngClass]="{'event-49k': false}"></span>
                    <img src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/240x388/dd828b13b1cb77667d034d5f59a82eb6/p/o/poster-the-last-warrior_1__1.jpg" alt="" class="product-image">
                    <div class="film-content">
                        <h3>Chiến bình cuối cùng: cội nguồn của quỷ</h3>
                        <div class="button-control">
                            <a href="" class="button">Xem chi tiết</a>
                            <a href="" class="button">
                                <i class="fas fa-ticket-alt"></i><span>Đặt vé</span>
                            </a>
                        </div>
                    </div>
                    <div class="play-button"></div>
                </div>
            </div>
        </div>
        <div class="event">
            <div class="home-title">
                <h2 class="event-title"></h2>
            </div>
            <ul class="toggle-bar">
                <li>
                    <span>Tin mới & ưu đãi</span>
                </li>
                <li>
                    <span>Thành viên CGV</span>
                </li>
            </ul>
        </div>
        <div class="promotion-card">
            <div class="p-card card-one">
                <a href=""><img src="https://www.cgv.vn/media/wysiwyg/packages/214x245.jpg" alt=""></a>
            </div>
            <div class="p-card card-two">
                <a href=""><img src="https://www.cgv.vn/media/wysiwyg/2021/U22_WEB_496x247.jpg" alt=""></a>
            </div>
            <div class="p-card card-three">
                <a href=""><img src="https://www.cgv.vn/media/wysiwyg/2021/CGV-DIGITAL-HALL-RENTAL-214x245.png" alt=""></a>
            </div>
        </div>
    </div>
</section>
