<div class="home-section">
    <div class="home-slide">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="home-slide-item">
                        <img src="../../../assets/images/black-banner.png" alt="">
                        <div class="over-lay"></div>
                        <div class="home-slide-item-content">
                            <div class="item-content-wrapper">
                                <div class="item-content-title top-down">
                                    Black Panther
                                </div>
                                <div class="movie-infos top-down delay-2">
                                    <div class="movie-info">
                                        <i class="fas fa-heart"></i>
                                        <span> 1.6k</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>120 phút</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span>
                                    </div>
                                </div>
                                <div class="item-content-description top-down delay-4">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, possimus eius. Deserunt non odit, cum vero reprehenderit laudantium odio vitae autem quam, incidunt molestias ratione mollitia accusantium, facere ab suscipit.
                                </div>
                                <div class="item-action top-down delay-6">
                                    <a href="" class="btn btn-hover">
                                        <i class="fas fa-play-circle"></i>
                                        <span>Xem ngay</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="home-slide-item">
                        <img src="../../../assets/images/wanda-banner.jpg" alt="">
                        <div class="over-lay"></div>
                        <div class="home-slide-item-content">
                            <div class="item-content-wrapper">
                                <div class="item-content-title top-down">
                                    Black Panther
                                </div>
                                <div class="movie-infos top-down delay-2">
                                    <div class="movie-info">
                                        <i class="fas fa-heart"></i>
                                        <span> 1.6k</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>120 phút</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span>
                                    </div>
                                </div>
                                <div class="item-content-description top-down delay-4">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, possimus eius. Deserunt non odit, cum vero reprehenderit laudantium odio vitae autem quam, incidunt molestias ratione mollitia accusantium, facere ab suscipit.
                                </div>
                                <div class="item-action top-down delay-6">
                                    <a href="" class="btn btn-hover">
                                        <i class="fas fa-play-circle"></i>
                                        <span>Xem ngay</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="home-slide-item">
                        <img src="../../../assets/images/supergirl-banner.jpg" alt="">
                        <div class="over-lay"></div>
                        <div class="home-slide-item-content">
                            <div class="item-content-wrapper">
                                <div class="item-content-title top-down">
                                    Black Panther
                                </div>
                                <div class="movie-infos top-down delay-2">
                                    <div class="movie-info">
                                        <i class="fas fa-heart"></i>
                                        <span> 1.6k</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>120 phút</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span>
                                    </div>
                                </div>
                                <div class="item-content-description top-down delay-4">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, possimus eius. Deserunt non odit, cum vero reprehenderit laudantium odio vitae autem quam, incidunt molestias ratione mollitia accusantium, facere ab suscipit.
                                </div>
                                <div class="item-action top-down delay-6">
                                    <a href="" class="btn btn-hover">
                                        <i class="fas fa-play-circle"></i>
                                        <span>Xem ngay</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="top-movies-slide">
        <owl-carousel-o [options]="customOption1">
            <ng-template carouselSlide>
                <div class="movie-item">
                    <img src="../../../assets/images/series/end-game.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            Batman
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="fas fa-heart"></i>
                                <span> 1.6k</span>
                            </div>
                            <div class="movie-info">
                                <i class="fas fa-clock"></i>
                                <span>120 phút</span>
                            </div>
                            <div class="movie-info">
                                <span>16+</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="movie-item">
                    <img src="../../../assets/images/series/blood-shot.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            Batman
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="fas fa-heart"></i>
                                <span> 1.6k</span>
                            </div>
                            <div class="movie-info">
                                <i class="fas fa-clock"></i>
                                <span>120 phút</span>
                            </div>
                            <div class="movie-info">
                                <span>16+</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="movie-item">
                    <img src="../../../assets/images/series/bat-man.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            Batman
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="fas fa-heart"></i>
                                <span> 1.6k</span>
                            </div>
                            <div class="movie-info">
                                <i class="fas fa-clock"></i>
                                <span>120 phút</span>
                            </div>
                            <div class="movie-info">
                                <span>16+</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="movie-item">
                    <img src="../../../assets/images/series/love-roise.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            Batman
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="fas fa-heart"></i>
                                <span> 1.6k</span>
                            </div>
                            <div class="movie-info">
                                <i class="fas fa-clock"></i>
                                <span>120 phút</span>
                            </div>
                            <div class="movie-info">
                                <span>16+</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="movie-item">
                    <img src="../../../assets/images/series/insidious.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            Batman
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="fas fa-heart"></i>
                                <span> 1.6k</span>
                            </div>
                            <div class="movie-info">
                                <i class="fas fa-clock"></i>
                                <span>120 phút</span>
                            </div>
                            <div class="movie-info">
                                <span>16+</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="movie-item">
                    <img src="../../../assets/images/series/call.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            Batman
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="fas fa-heart"></i>
                                <span> 1.6k</span>
                            </div>
                            <div class="movie-info">
                                <i class="fas fa-clock"></i>
                                <span>120 phút</span>
                            </div>
                            <div class="movie-info">
                                <span>16+</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="movie-item">
                    <img src="../../../assets/images/series/theatre-dead.jpg" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            Batman
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="fas fa-heart"></i>
                                <span> 1.6k</span>
                            </div>
                            <div class="movie-info">
                                <i class="fas fa-clock"></i>
                                <span>120 phút</span>
                            </div>
                            <div class="movie-info">
                                <span>16+</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
    <div class="section">
        <div class="container-section">
            <div class="section-header">
                phim gần đây
            </div>
            <div class="movies-slide reveal">
                <owl-carousel-o [options]="customOption2">
                    <ng-template carouselSlide>
                        <a class="movie-item">
                            <img src="../../../assets/images/series/end-game.jpg" alt="">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    Batman
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-heart"></i>
                                        <span> 1.6k</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>120 phút</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="movie-item">
                            <img src="../../../assets/images/series/end-game.jpg" alt="">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    Batman
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-heart"></i>
                                        <span> 1.6k</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>120 phút</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="movie-item">
                            <img src="../../../assets/images/series/end-game.jpg" alt="">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    Batman
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-heart"></i>
                                        <span> 1.6k</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>120 phút</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="movie-item">
                            <img src="../../../assets/images/series/end-game.jpg" alt="">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    Batman
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-heart"></i>
                                        <span> 1.6k</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>120 phút</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="movie-item">
                            <img src="../../../assets/images/series/end-game.jpg" alt="">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    Batman
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-heart"></i>
                                        <span> 1.6k</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>120 phút</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="movie-item">
                            <img src="../../../assets/images/series/end-game.jpg" alt="">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    Batman
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-heart"></i>
                                        <span> 1.6k</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>120 phút</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="movie-item">
                            <img src="../../../assets/images/series/end-game.jpg" alt="">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    Batman
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-heart"></i>
                                        <span> 1.6k</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>120 phút</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container-section">
            <div class="section-header">
                phim hoạt hình
            </div>
            <div class="movies-slide reveal">
                <owl-carousel-o [options]="customOption2">
                    <ng-template carouselSlide>
                        <a class="movie-item">
                            <img src="../../../assets/images/series/end-game.jpg" alt="">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    Batman
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-heart"></i>
                                        <span> 1.6k</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>120 phút</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="movie-item">
                            <img src="../../../assets/images/series/end-game.jpg" alt="">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    Batman
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-heart"></i>
                                        <span> 1.6k</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>120 phút</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="movie-item">
                            <img src="../../../assets/images/series/end-game.jpg" alt="">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    Batman
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-heart"></i>
                                        <span> 1.6k</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>120 phút</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="movie-item">
                            <img src="../../../assets/images/series/end-game.jpg" alt="">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    Batman
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-heart"></i>
                                        <span> 1.6k</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>120 phút</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="movie-item">
                            <img src="../../../assets/images/series/end-game.jpg" alt="">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    Batman
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-heart"></i>
                                        <span> 1.6k</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>120 phút</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="movie-item">
                            <img src="../../../assets/images/series/end-game.jpg" alt="">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    Batman
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-heart"></i>
                                        <span> 1.6k</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>120 phút</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="movie-item">
                            <img src="../../../assets/images/series/end-game.jpg" alt="">
                            <div class="movie-item-content">
                                <div class="movie-item-title">
                                    Batman
                                </div>
                                <div class="movie-infos">
                                    <div class="movie-info">
                                        <i class="fas fa-heart"></i>
                                        <span> 1.6k</span>
                                    </div>
                                    <div class="movie-info">
                                        <i class="fas fa-clock"></i>
                                        <span>120 phút</span>
                                    </div>
                                    <div class="movie-info">
                                        <span>16+</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
    <div class="newslater">
        <div class="container">
            <div class="newslater-container reveal">
                <div class="over-newslater"></div>
                <div class="newslater-wrapper">
                    <h5 class="title-1">Subcribe to CGV</h5>
                    <h3 class="title-2">to get exclusive benefits</h3>
                    <form action="" class="newslater-form">
                        <input type="text" placeholder="Your Email Address">
                        <button type="submit">Subcribe</button>
                    </form>
                    <p>We respect your privacy, so we never share your info</p>
                </div>
            </div>
        </div>
    </div>
</div>
