<div class="main-layout">
    <div class="title">
        <h3>Thông tin tài khoản</h3>
    </div>
    <div class="body">
        <div class="main-form body-content">
            <form [formGroup]="updateForm" (ngSubmit)="onUpdate()" autocomplete="false" novalidate="true">
                <div class="form-group">
                    <p>Tên người dùng:</p>
                    <input type="text" formControlName="name" required>
                    <div *ngIf="showValidate">
                        <small class="form-text text-muted" *ngIf="updateForm.controls.name.errors?.required">Vui lòng nhập họ tên</small>
                    </div>
                </div>
                <div class="form-group">
                    <p>Số điện thoại:</p>
                    <input type="text" formControlName="phone" required>
                    <div *ngIf="showValidate">
                        <small class="form-text text-muted" *ngIf="updateForm.controls.name.errors?.required">Vui lòng nhập họ tên</small>
                    </div>
                </div>
                <div class="form-group">
                    <p>Email:</p>
                    <input type="text" formControlName="email">
                </div>
                <div class="form-group">
                    <p>Giới tính:</p>
                    <div class="gender-select">
                        <div>
                            <input class="male ml-0" name="gender" type="radio" value="male" formControlName="gender" required /> Nam
                        </div>
                        <div>
                            <input class="female" name="gender" type="radio" value="female" formControlName="gender" required /> Nữ
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <p>Ngày sinh:</p>
                    <input type="date" formControlName="birthday" required>
                </div>
                <div class="form-group">
                    <p>Khu vực:</p>
                    <select class="form-control" formControlName="area" required>
                      <option value="HN" selected>Hà Nội</option>
                      <option value="HCM">Hồ Chí Minh</option>
                    </select>
                </div>
                <div class="form-group">
                    <p>Thành viên: </p>
                    <input type="text" formControlName="member_rankpoints">
                </div>
                <button class="btn btn-primary">Cập nhật</button>
            </form>
        </div>
        <div class="password-form body-content">
            <h4>Thay đổi mật khẩu</h4>
            <form [formGroup]="changeForm" (ngSubmit)="onChange()" autocomplete="false" novalidate="true">
                <div class="form-group">
                    <p>Mật khẩu mới:</p>
                    <input type="text" formControlName="new_pw" required>
                    <div *ngIf="showValidateCheck">
                        <small class="form-text text-muted" *ngIf="changeForm.controls.new_pw.errors?.required">Vui lòng nhập mật khẩu</small>
                    </div>
                    <small class="form-text text-muted" *ngIf="changeForm.controls.new_pw.dirty && changeForm.controls.new_pw.errors?.minlength">Mật khẩu yêu cầu ít nhất 6 ký tự</small>
                    <small class="form-text text-muted" *ngIf="changeForm.controls.new_pw.dirty && changeForm.controls.new_pw.errors?.maxlength">Mật khẩu không quá 24 ký tự</small>
                </div>
                <div class="form-group">
                    <p>Xác nhận mật khẩu mới:</p>
                    <input type="text" formControlName="confirm_pw" required>
                    <div *ngIf="showValidateCheck">
                        <small class="form-text text-muted" *ngIf="changeForm.controls.new_pw.errors?.required">Vui lòng nhập mật khẩu</small>
                    </div>
                    <small class="form-text text-muted" *ngIf="changeForm.controls.new_pw.dirty && changeForm.controls.new_pw.errors?.minlength">Mật khẩu yêu cầu ít nhất 6 ký tự</small>
                    <small class="form-text text-muted" *ngIf="changeForm.controls.new_pw.dirty && changeForm.controls.new_pw.errors?.maxlength">Mật khẩu không quá 24 ký tự</small>
                </div>
                <button class="btn btn-primary">Thay đổi</button>
            </form>
        </div>
    </div>
</div>
