.cgv-online {
    height: 460px;
    width: 100%;
}

.cgv-online-app {
    background-color: #f04d3f;
}

.content-cgv-app {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/vn-microsite-app.png) no-repeat scroll center top transparent;
    position: relative;
    width: 980px;
    height: 460px;
    margin: 0 auto;
}

.app-link {
    position: absolute;
    top: 300px;
    left: -25px;
}

.app-link ul {
    display: flex;
    justify-content: center;
}

.app-link ul li {
    padding-left: 5px;
    list-style: none;
}

.cgv-online-photo {
    background-color: #fecd4e;
}

.content-cgv-photo {
    width: 980px;
    height: 460px;
    margin: 0 auto;
}

.cgv-online-kiosk {
    background-color: #a4cf5c;
}

.content-cgv-kiosk {
    width: 980px;
    height: 460px;
    margin: 0 auto;
}

.cgv-online-payment {
    background-color: #72adde;
}

.content-cgv-payment {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/vn-payment.png) no-repeat center top scroll transparent;
    width: 980px;
    height: 460px;
    position: relative;
    margin: 0 auto;
    padding-top: 1px;
}

.cgv-online-payment ul li {
    list-style: none;
    position: absolute;
}

li.visa {
    top: 172px;
    left: 327px;
}

li.membership {
    top: 268px;
    left: 440px;
}

li.giftcard {
    top: 268px;
    right: 146px;
    z-index: 40;
}

li.voucher {
    top: 170px;
    right: 32px;
    z-index: 20;
}
