<div class="cgv-online-site">
    <div class="cgv-online cgv-online-app">
        <div class="content-cgv-app">
            <div class="app-link">
                <ul>
                    <li>
                        <a href=""><img src="https://www.cgv.vn/media/wysiwyg/mobile-app/app-android-play.png" alt=""></a>
                    </li>
                    <li>
                        <a href=""><img src="https://www.cgv.vn/media/wysiwyg/mobile-app/app-ios-store.png" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cgv-online cgv-online-photo">
        <div class="content-cgv-photo">
            <a href=""><img src="https://www.cgv.vn/media/wysiwyg/banner/vn-microsite-photo.png" alt=""></a>
        </div>
    </div>
    <div class="cgv-online cgv-online-kiosk">
        <div class="content-cgv-kiosk">
            <a href=""><img src="https://www.cgv.vn/media/wysiwyg/banner/vn-microsite-kiosk.png" alt=""></a>
        </div>
    </div>
    <div class="cgv-online cgv-online-payment">
        <div class="content-cgv-payment">
            <ul>
                <li class="visa"><img src="https://www.cgv.vn/media/wysiwyg/banner/cgv-visa-online.png" alt=""></li>
                <li class="membership">
                    <a href=""><img src="https://www.cgv.vn/media/wysiwyg/banner/cgv-member-online.png" alt=""></a>
                </li>
                <li class="giftcard">
                    <a href=""><img src="https://www.cgv.vn/media/wysiwyg/banner/cgv-giftcard-online.png" alt=""></a>
                </li>
                <li class="voucher">
                    <a href=""><img src="https://www.cgv.vn/media/wysiwyg/banner/cgv-vourche-online.png" alt=""></a>
                </li>
            </ul>
        </div>
    </div>
</div>
