<div class="page-title">
    <h1>Thẻ Quà Tặng</h1>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-lg-4" *ngFor="let gift of gifts">
            <div class="info">
                <h2 class="gift-name">{{gift.name}}</h2>
                <span class="price">{{gift.price}}</span>
                <a class="btn-gift button">
                    <span>
                    <span>MUA</span>
                    </span>
                </a>
                <div class="short-description">
                    <div>{{gift.description}}</div>
                </div>
            </div>
            <a href="" class="image"><img src="{{gift.imgLink}}" alt=""></a>
        </div>
    </div>
</div>
