<div class="main-layout">
    <div class="form-layout">
        <div class="header-title">
            <h3>Thêm lịch chiếu</h3>
        </div>
        <div class="main-form">
            <form class="form-content" (ngSubmit)="onAdd()" [formGroup]="showTimeForm" autocomplete="off" novalidate="true">
                <div class="name form-group mb-3">
                    <mat-form-field appearance="fill" class="mat-form-field">
                        <mat-label for="movieName">Chọn tên phim</mat-label>
                        <mat-select id="movieName" formControlName="movieName" required>
                            <mat-option *ngFor="let movies of movies" value="{{movies.movieName}}">
                                {{movies.movieName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div *ngIf="showValidateSignIn">
                        <small class="form-text text-info" *ngIf="showTimeForm.controls.movieName.errors?.required">Nhập tên phim</small>
                    </div>
                </div>
                <div class="cinema-site form-group mb-3">
                    <mat-form-field appearance="fill" class="mat-form-field">
                        <mat-label for="cinema-site">Chọn rạp</mat-label>
                        <mat-select id="cinema-site" formControlName="siteName" required>
                            <mat-option *ngFor="let site of cgvSites" value="{{site}}">
                                {{site}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div *ngIf="showValidateSignIn">
                        <small class="form-text text-info" *ngIf="showTimeForm.controls.siteName.errors?.required">Nhập tên rạp</small>
                    </div>
                </div>
                <div class="startDate form-group mb-3">
                    <label for="startDate">Ngày chiếu</label>
                    <input type="date" class="form-control" formControlName="startDate" required>
                    <div *ngIf="showValidateSignIn">
                        <small class="form-text text-info" *ngIf="showTimeForm.controls.startDate.errors?.required">Nhập ngày chiếu</small>
                    </div>
                </div>
                <div class="startTime form-group mb-3">
                    <label for="startTime">Giờ chiếu</label>
                    <input type="time" class="form-control" formControlName="startTime" required>
                    <div *ngIf="showValidateSignIn">
                        <small class="form-text text-info" *ngIf="showTimeForm.controls.startTime.errors?.required">Nhập giờ chiếu</small>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="price">Giá vé</label>
                    <input type="text" class="form-control" placeholder="Giá vé" formControlName="price" required>
                    <div *ngIf="showValidateSignIn">
                        <small class="form-text text-info" *ngIf="showTimeForm.controls.price.errors?.required">Nhập giá vé</small>
                    </div>
                </div>
                <div class="footer-form mt-5">
                    <button mat-stroked-button type="submit" class="btn btn-primary">Thêm lịch chiếu</button>
                </div>
            </form>
        </div>
    </div>
</div>
