* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-layout {
    background-color: #435c70;
    width: 60%;
    margin: 0 auto;
    padding: 40px;
}

.header-title h3 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
    line-height: 1.2rem;
}

.form-group label {
    color: #fff;
    margin-bottom: 10px;
}

.form-group .form-control {
    padding: 19px 18px;
    border-radius: 0;
    height: 50px;
    display: block;
    background-color: #54657d;
    color: #fff;
    border: 0;
}

.form-group .form-custom {
    width: 100%;
    padding: 0px 10px;
    border-radius: 0;
    height: 50px;
    display: block;
    background-color: #54657d;
    color: #fff;
    border: 0;
}

.form-control:focus,
.form-custom:focus {
    background-color: #60738e;
    color: #fff;
    border-color: transparent;
    box-shadow: 0 0 0 0.1rem rgb(180 206 233 / 50%);
    outline: 0;
}

.form-group .mat-form-field {
    width: 100%;
}

.form-control .mat-form-field mat-label {
    color: #fff;
}

.btn-primary {
    font-family: "Cairo", sans-serif;
    width: 100%;
    color: #fff;
    background-color: #f5a623;
    border: 2px solid #f5a623;
    font-weight: 550;
    border-radius: 0;
    padding: 13px 28px;
    transition: all 0.2s ease;
}

.btn-primary:hover {
    color: #f5a623;
    background-color: transparent;
    border: 2px solid #f5a623;
}

@media only screen and (max-width:1200px) {
    .main-layout {
        width: 80%;
    }
}

@media only screen and (max-width:768px) {
    .main-layout {
        width: 100%;
    }
}
