<div class="main-content">
  <div class="main">
    <div class="header">
      <h1>
        <span>CHÍNH SÁCH THANH TOÁN</span>
      </h1>
    </div>
    <div class="std">
      <div class="cms-page-content privacy-policy-cms">
        <div class="cms-tap">
          <h3>1. Quy định về thanh toán</h3>
          <p>
            Khách hàng có thể lựa chọn các hình thức thanh toán sau để thanh
            toán cho giao dịch đặt vé trên website CGV
          </p>
          <p>- Điểm thưởng thành viên</p>
          <p>- Thẻ quà tặng CGV (CGV Giftcard)</p>
          <p>- Ticket Voucher</p>
          <p>- Thanh toán bằng Ví điện tử MoMo</p>
          <p>- Thẻ ATM (Thẻ ghi nợ/thanh toán/trả trước nội địa)</p>
          <p>- Thẻ tín dụng thẻ, thẻ ghi nợ, thẻ trả trước quốc tế</p>
        </div>
        <div class="cms-tap">
          <h3>2. Chi tiết các hình thức thanh toán</h3>
          <ul>
            <li>
              - Điểm Thưởng Thành Viên (Membership Point): Mỗi 01 điểm thưởng
              tương đương với 1.000 VND. Điểm thưởng này, bạn có thể sử dụng để
              thanh toán vé xem phim và các sản phẩm đồ ăn thức uống tại hệ
              thống CGV toàn quốc. Khi sử dụng điểm thưởng, bạn vui lòng xuất
              trình thẻ thành viên để được nhân viên hỗ trợ thanh toán. Điểm
              thưởng được sử dụng phải từ 20 điểm trở lên.
            </li>
            <li>
              - Để kiểm tra điểm thưởng, bạn vui lòng truy cập vào mục Tài Khoản
              CGV trên website.
            </li>
            <li>
              - Thẻ quà tặng CGV (CGV GiftCard): Thẻ Quà Tặng có thể được dùng
              để mua vé xem phim, bắp nước tại các rạp CGV trên toàn quốc và có
              thể dùng để thanh toán khi mua vé trực tuyến. Bạn có thể mua thẻ
              quà tặng tại tất cả các cụm rạp CGV trên toàn quốc với mệnh giá
              thấp nhất là 300,000 VNĐ và có giá trị sử dụng trong vòng 1 năm kể
              từ ngày kích hoạt.Thẻ có các mệnh giá 300,000 VNĐ, 500,000 VNĐ
              hoặc 1,000,000 VNĐ. Thẻ có thể nạp thêm tiền để tiếp tục sử
              dụng.&nbsp;Khách hàng vui lòng xem thêm thông tin chi tiết về thẻ
              quà tặng tại
              <a href="https://www.cgv.vn/default/gift-card/" target="_blank"
                >https://www.cgv.vn/default/gift-card/</a
              >.
            </li>
            <li>
              - Chọn Ví MoMo làm phương thức thanh toán trên website/ ứng dụng
              CGV. Hoặc nhanh chóng hơn bằng cách mở Ví MoMo và chọn mục "Mua Vé
              Xem Phim", xem thông tin chi tiết:
              <a href="https://momo.vn/thanh-toan-momo-cgv" target="_blank"
                >Tại đây</a
              >
            </li>
            <li>
              - Thẻ ATM (Thẻ ghi nợ/thanh toán /trả trước nội địa): Để thanh
              toán bằng thẻ ngân hàng nội địa, thẻ của khách hàng phải được đăng
              ký sử dụng tính năng thanh toán trực tuyến, hoặc ngân hàng điện tử
              của Ngân hàng. Giao dịch phải được ghi nhận thành công từ thông
              báo cấp phép thành công do hệ thống cổng thanh toán trả về (đảm
              bảo số dư/hạn mức và xác thực khách hàng theo quy định sử dụng của
              thẻ).
            </li>
            <li>
              -&nbsp;Thẻ tín dụng, thẻ thanh toán quốc tế, thẻ trả trước quốc
              tế: Thẻ tín dụng/ghi nợ/trả trước VISA, MasterCard, JCB, Union
              Pay, Amex của các Ngân hàng trong nước và nước ngoài phát hành.
              Giao dịch phải được ghi nhận cấp phép thành công do đúng hệ thống
              cổng thanh toán trả về (đảm bảo số dư/hạn mức và xác thực khách
              hàng theo quy định sử dụng của thẻ).
            </li>
            <li>
              - Ticket Voucher: CGV áp dụng thanh toán trực tuyến đối với Ticket
              Voucher. Mỗi loại Voucher sẽ có giá trị quy đổi và thời hạn sử
              dụng khác nhau. Bạn vui lòng đọc kỹ các điều khoản sử dụng ở mặt
              sau Voucher để biết thêm chi tiết.&nbsp;Khi thanh toán trực tuyến,
              bạn vui lòng đăng ký mã voucher và mã PIN để thực hiện thanh toán.
              Xin lưu ý Ticket Voucher giấy sau khi mất lớp tráng bạc sẽ không
              thể đổi vé tại quầy.
            </li>
          </ul>
        </div>
        <div class="cms-tap">
          <h3>3. Danh sách thẻ được chấp nhận thanh toán trực tuyến</h3>
          <p style="font-style: italic">
            (Cập nhật theo thông báo của nhà cung cấp dịch vụ)
          </p>
          <p style="font-weight: bold">Thẻ quốc tế:</p>
          <ul style="margin-left: 15px; width: 100%">
            <li>- Visa</li>
            <li>- MasterCard</li>
            <li>- JCB</li>
            <li>- American Express</li>
            <li>- Union Pay</li>
          </ul>
          <p style="font-weight: bold; margin-top: 15px">Thẻ nội địa:</p>
          <ul style="margin-left: 15px">
            <li>- Ngân hàng Nông nghiệp và phát triển nông thôn - Agribank.</li>
            <li>- Ngân hàng TMCP Ngoại thương Việt Nam - Vietcombank.</li>
            <li>- Ngân hàng TMCP Đông Á – Dong A bank.</li>
            <li>- Ngân hàng TMCP Công thương Việt Nam - Vietinbank.</li>
            <li>- Ngân hàng TMCP Kỹ thương Việt Nam – Techcombank.</li>
            <li>- Ngân hàng TMCP Quốc tế Việt Nam – VIB.</li>
            <li>- Ngân hàng TMCP Tiên phong – TienphongBank.</li>
            <li>- Ngân hàng TMCP Phát triển Nhà Tp.HCM – HDBank.</li>
            <li>- Ngân hàng TMCP Sài gòn – Hà Nội – SHB.</li>
            <li>- Ngân hàng Xuất nhập khẩu Việt Nam – Eximbank.</li>
            <li>- Ngân hàng TMCP Hàng Hải Việt Nam – MSB.</li>
            <li>- Ngân hàng Việt Á - VietA Bank.</li>
            <li>- Ngân hàng Quân đội – MB.</li>
            <li>- Ngân hàng TMCP Nam Á - Nam A Bank.</li>
            <li>- Ngân hàng TMCP Sài Gòn Thương Tín – Sacombank.</li>
            <li>- Ngân Hàng TMCP Đông Nam Á – SeABank.</li>
            <li>- Ngân Hàng TMCP Đại Dương – OceanBank.</li>
            <li>- Ngân Hàng Đầu Tư và Phát triển Việt Nam – BIDV.</li>
            <li>- Ngân hàng Việt Nam Thịnh Vượng – VPBank.</li>
            <li>- Ngân Hàng TMCP Bắc Á - BAC A BANK.</li>
            <li>- Ngân hàng TMCP AN BÌNH – ABBANK.</li>
          </ul>
        </div>
        <div class="cms-tap">
          <h3>4. Trường hợp giao dịch thanh toán không thành công</h3>
          <p>
            Giao dịch thanh toán không thành công có thể do nhiều nguyên nhân.
            Bạn tham khảo các nguyên nhân sau:
          </p>
          <ul>
            <li>
              - Chưa đăng ký chức năng thanh toán trên Internet với Ngân hàng
            </li>
            <li>
              - Đối với thẻ Visa, MasterCard: Trong quá trình thanh toán, có thể
              bạn được yêu cầu nhập Mật khẩu của chương trình Verified by Visa
              hoặc MasterCard SecureCode... nhưng bạn đã không hoàn thành bước
              xác thực này.
            </li>
            <li>
              - Thẻ không đủ hạn mức/ số dư để thanh toán. Một số Ngân hàng có
              quy định cả hạn mức chi tiêu theo ngày cho thẻ.
            </li>
            <li>- Nhập sai thông tin thẻ.</li>
          </ul>
          <p>
            Vui lòng liên hệ hotline 1900 6017 hoặc Ngân hàng phát hành thẻ để
            tìm hiểu nguyên nhân chính xác.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
