<div>
    <div class="concession-menu">
        <div class="header-menu">
            <a class="logo-header" routerLink='/'>
                <img src="https://www.cgv.vn/skin/frontend/cgv/default/images/cgvlogo.png" alt="">
            </a>
            <div class="content-header"></div>
        </div>
        <div class="body-menu">
            <div class="content-concession-menu">
                <div class="menu-bap">
                    <ul>
                        <li>
                            <a><img src="https://www.cgv.vn/media/wysiwyg/group-sale/bap-man.png" alt=""></a>
                        </li>
                        <li>
                            <a><img src="https://www.cgv.vn/media/wysiwyg/group-sale/bap-ngot.png" alt=""></a>
                        </li>
                        <li>
                            <a><img src="https://www.cgv.vn/media/wysiwyg/group-sale/bap-pho-mai-cgv.png" alt=""></a>
                        </li>
                        <li>
                            <a><img src="https://www.cgv.vn/media/wysiwyg/group-sale/bap-caramen.png" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div class="menu-hot-food">
                    <ul>
                        <li>
                            <a><img src="https://www.cgv.vn/media/wysiwyg/group-sale/hot-food-1.png" alt=""></a>
                        </li>
                        <li>
                            <a><img src="https://www.cgv.vn/media/wysiwyg/group-sale/hot-food-2.png" alt=""></a>
                        </li>
                        <li>
                            <a><img src="https://www.cgv.vn/media/wysiwyg/group-sale/hot-food-3.png" alt=""></a>
                        </li>
                        <li>
                            <a><img src="https://www.cgv.vn/media/wysiwyg/group-sale/hot-food-4.png" alt=""></a>
                        </li>
                        <li>
                            <a><img src="https://www.cgv.vn/media/wysiwyg/group-sale/hot-food-5.png" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div class="menu-soft-drink">
                    <ul>
                        <li>
                            <a><img src="https://www.cgv.vn/media/wysiwyg/group-sale/soft-drink-1.png" alt=""></a>
                        </li>
                        <li>
                            <a><img src="https://www.cgv.vn/media/wysiwyg/group-sale/soft-drink-2.png" alt=""></a>
                        </li>
                        <li>
                            <a><img src="https://www.cgv.vn/media/wysiwyg/group-sale/soft-drink-3.png" alt=""></a>
                        </li>
                        <li style="display: inline-flex">
                            <a><img src="https://www.cgv.vn/media/wysiwyg/group-sale/soft-drink-coca-cola.png" alt=""></a>
                            <a><img src="https://www.cgv.vn/media/wysiwyg/group-sale/soft-drink-sua-cacao.png" style="max-width: 80%;" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
