.concession-menu {
    margin-bottom: -10px;
    width: 100%;
    min-height: 3000px;
    display: inline-block;
    background-color: #ffd858;
}

.header-menu {
    height: 700px;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/concesstion/bg-header-concesstion.png);
    position: relative;
}

.logo-header {
    position: absolute;
    top: 4%;
    left: 10%;
}

.content-header {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/concesstion/header-menu-concession.png) no-repeat bottom center;
    margin: 0px auto;
    width: 1080px;
    height: 700px;
    background-size: 1080px 700px;
}

.content-concession-menu {
    width: 1000px;
    height: 3961px;
    margin: 0px auto;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/concesstion/bg-popcon.png) no-repeat top center;
    background-size: 1000px 3961px;
}

.menu-bap {
    height: 950px;
}

.menu-bap ul {
    display: inline-flex;
    margin-top: 135px;
}

.menu-bap ul li {
    cursor: pointer;
    list-style: none;
    font-size: 14px;
    line-height: 24px
}

.menu-bap ul li img {
    max-width: 80%;
}

.menu-bap ul li:hover img {
    transform: scale(1.2);
    transition: all 0.6s ease-in-out;
}

.menu-hot-food {
    margin-top: 150px;
}

.menu-hot-food ul li {
    cursor: pointer;
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    padding: 0px 15px;
}

.menu-hot-food ul li img {
    max-width: 95%;
}

.menu-soft-drink ul {
    /* width: 94%; */
    margin-top: 230px;
}

.menu-soft-drink ul li {
    list-style: none;
    cursor: pointer;
    margin-left: 8%;
    margin-bottom: 30px;
}

.menu-soft-drink ul li img {
    max-width: 90%
}
