.about-us {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #fcfdf0;
}

.container .content {
    display: flex;
}

.content {
    margin-top: 24px;
}

.content .sidebar {
    width: calc(25% - 10px);
    padding-right: 10px;
    margin-left: 20px;
}

.outlet {
    width: 70%;
}

.block-content {
    width: 100%;
}

.block-content ul {
    list-style: none;
    padding: 0;
}

.block-content ul li {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/ribon_left-ccc.png) no-repeat scroll left center #ccc;
    color: #fff;
    height: 34px;
    padding: 9px 18px;
    width: 100%;
    margin: 2px 0;
    display: list-item;
    text-align: -webkit-match-parent;
    margin-bottom: 5px;
}

.block-content ul li a {
    text-decoration: none;
    display: block;
    margin-left: 5px;
    color: #fff;
    font-size: 12px;
}

.block-content .active {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/ribon_left.png) no-repeat scroll left center #e71a0f !important;
}

.block-content li.active a span {
    color: #fff;
}

.block-content li a span {
    color: #666;
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
}

@media only screen and (max-width: 1200px) {
    .content .sidebar {
        width: calc(35% - 10px);
        padding-right: 10px;
        margin-left: 20px;
    }
    .outlet {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .content .sidebar {
        width: 100%;
        padding-right: 10px;
        margin-left: 10px;
    }
    .outlet {
        width: 100%;
    }
}