<div class="about-us">
  <div class="container">
    <div class="content">
      <div class="sidebar">
        <div class="block-content">
          <ul>
            <li routerLinkActive="active">
              <a routerLink="about-us" >
                <span>GIỚI THIỆU</span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="./contacts">
                <span>LIÊN HỆ CGV</span>
              </a>
            </li>
            <li  routerLinkActive="active">
              <a routerLink="./terms-conditions">
                <span>ĐIỀU KHOẢN CHUNG</span>
              </a>
            </li>
            <li  routerLinkActive="active">
              <a routerLink="./terms-use">
                <span>ĐIỀU KHOẢN GIAO DICH</span>
              </a>
            </li>
            <li  routerLinkActive="active">
              <a routerLink="./payment-policy">
                <span>CHÍNH SÁCH THANH TOÁN</span>
              </a>
            </li>
            <li  routerLinkActive="active">
              <a routerLink="./privacy-policy">
                <span>CHÍNH SÁCH BẢO MẬT</span>
              </a>
            </li>
            <li  routerLinkActive="active">
              <a routerLink="./faq">
                <span>CÂU HỎI THƯỜNG GẶP</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
