.layout {
    background-color: #fcfdf0;
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: "Cairo", sans-serif;
}

.container {
    margin: 0 auto;
}

.body {
    background-color: rgba(149, 157, 165, 0.2);
    padding: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.body span {
    color: #141414;
    font-weight: 550;
}

.form-group input {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
}

.carousel-control-next-icon {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
}

.carousel-control-prev-icon {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
}

@media (max-width: 970px) {
    .slide {
        margin: 50px 0px;
    }
}