.main {
    padding-top: 30px;
    padding-bottom: 30px;
}

.home-title {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg_h3_line.jpg) repeat-x left center scroll rgba(0, 0, 0, 0);
    height: 60px;
    text-align: center;
    width: 100%;
}

.gs-intro-vn h2 {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/gs-vn.png) no-repeat scroll center center / 350px 45px #FDFCF0;
    display: inline-block;
    width: 370px;
}

.home-title h2 {
    height: 60px;
    text-indent: -99999px;
}

.about-intro-group-sale {
    width: 100%;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/gs-icon-vourcher.png) no-repeat scroll left top transparent;
    padding-left: 265px;
    margin-top: 10px;
}

.about-intro-group-sale p {
    text-align: justify;
    line-height: 24px;
    color: #636363;
}

.about-intro-group-sale p.icon-gs-contact {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/gs-contact-vn.png) no-repeat scroll right top transparent;
    background-size: 150px 115px;
    width: 100%;
    padding-right: 150px;
    min-height: 130px;
}

.gs-service-vn h2 {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/gs-our-service-vn.png) no-repeat scroll center center / 397px 50px #FDFCF0;
    display: inline-block;
    width: 417px;
}

.gs-dicuss-vn h2 {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/gs-discuss-vn.png) no-repeat scroll center center / 416px 45px #FDFCF0;
    display: inline-block;
    width: 436px;
}

.contact-group-sale h3 {
    margin: 0px;
    width: 100%;
    text-align: center;
    color: #717171;
    font-size: 16px;
    line-height: 24px;
}

.contact-group-sale div.gs-contact-footer {
    width: 100%;
    text-align: center;
    font-size: 0px;
    height: 200px;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/gs-footer-contact-en.png) no-repeat scroll center center transparent;
}

.service-bar {
    margin-top: 10px;
}

.service-bar ul {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #222;
    padding-bottom: 7px;
    text-align: center;
}

.service-bar ul li {
    display: inline-table;
    margin: 0 -3px 0px 0;
    text-align: center;
    cursor: pointer;
    width: 16%;
    height: 100px;
    background: none !important;
    border-left: none;
    border-top: none;
    border-bottom: none;
    list-style: none;
}

.service-bar ul li:not(:last-child) {
    border-right: 1px solid #222;
}

.service-bar ul li.cgv-gs-os.active a {
    filter: grayscale(0%);
    opacity: 100;
}

.service-bar ul li.cgv-gs-os.gs-da-ngoai a {
    background-position: -30px -8px;
}

.service-bar ul li.gs-da-ngoai a {
    font-size: 0px;
    width: 140px;
    height: 100px;
    display: inline-block;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/gs-icon-style-vn.png);
    filter: grayscale(95%);
    opacity: 0.5;
}

.service-bar ul li.cgv-gs-os.gs-tiec-tung a {
    background-position: -155px -8px;
}

.service-bar ul li.gs-tiec-tung a {
    font-size: 0px;
    width: 140px;
    height: 100px;
    display: inline-block;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/gs-icon-style-vn.png);
    filter: grayscale(95%);
    opacity: 0.5;
}

.service-bar ul li.cgv-gs-os.gs-the-qua-tang a {
    background-position: -281px -8px;
}

.service-bar ul li.gs-the-qua-tang a {
    font-size: 0px;
    width: 140px;
    height: 100px;
    display: inline-block;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/gs-icon-style-vn.png);
    filter: grayscale(95%);
    opacity: 0.5;
}

.service-bar ul li.cgv-gs-os.gs-voucher a {
    background-position: -419px -12px;
}

.service-bar ul li.gs-voucher a {
    font-size: 0px;
    width: 140px;
    height: 100px;
    display: inline-block;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/gs-icon-style-vn.png);
    filter: grayscale(95%);
    opacity: 0.5;
}

.service-bar ul li.cgv-gs-os.gs-khuyen-mai a {
    background-position: -555px -9px
}

.service-bar ul li.gs-khuyen-mai a {
    font-size: 0px;
    width: 140px;
    height: 100px;
    display: inline-block;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/gs-icon-style-vn.png);
    filter: grayscale(95%);
    opacity: 0.5;
}

.service-bar ul li.cgv-gs-os.gs-chu-de a {
    background-position: -700px -6px;
}

.service-bar ul li.gs-chu-de a {
    font-size: 0px;
    width: 140px;
    height: 100px;
    display: inline-block;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/gs-icon-style-vn.png);
    filter: grayscale(95%);
    opacity: 0.5;
}

@media (max-width: 1199px) {
    .about-intro-group-sale p.icon-gs-contact {
        background-image: none;
        padding-right: 0px;
    }
    .service-bar ul {
        display: block;
    }
}

@media (max-width: 999px) {
    .service-bar ul li:not(:last-child) {
        border-right: none;
    }
}
