<div style="background-color: #fcfdf0; padding-top: 10px; padding-bottom: 10px">
    <div class="section container my-5">
        <div class="header">
            <div class="select">
                <ul>
                    <li class="btn">
                        <a class="btn-1 active">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span> Phim đang chiếu
                        </a>
                    </li>
                    <li class="btn">
                        <a class="btn-2">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span> Phim sắp chiếu
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="movies">
            <div class="movie-item" *ngFor="let movie of movies; let i = index">
                <img [src]="movie.imageURL" alt="" [routerLink]="['/movies', movie.slug]">
                <div class="movie-content">
                    <div class="movie-title">
                        {{movie.movieName}}
                    </div>
                </div>
                <div class="movie-button">
                    <div class="booking">
                        <button class="btn btn-danger" style="margin-right: 10px;">Trailer</button>
                        <button class="btn btn-success" style="margin-left: 10px;"><i class="fas fa-ticket-alt"></i>&nbsp;Đặt vé</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>