* {
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.header {
    padding: 25px;
}

.select ul {
    display: flex;
    justify-content: center;
}

.select ul li:not(:first-child) {
    margin-left: 20px;
}

.btn a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 24px;
    color: #2196f3;
    padding: 15px 20px;
    overflow: hidden;
}

.btn a.active {
    color: red;
    transform: scale(1.2);
    font-weight: bold;
    transition: all .5s;
    pointer-events: none;
}

.btn a span {
    position: absolute;
    display: block;
}

.btn a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f32121);
}

.btn a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.btn a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f32121);
}

.btn a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.btn a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #f32121);
}

.btn a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.btn a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #f32121);
}

.btn a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.movies {
    --spacing: 25px;
    --columns: 4;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
}

.movie-item {
    position: relative;
    margin-bottom: var(--spacing);
    cursor: pointer;
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    overflow: hidden;
}

.movie-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 15px;
    background-color: rgba(0, 0, 0, 0.85);
}

.movie-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 15px;
    transform: translateX(-100%);
    opacity: 0;
}

.booking {
    text-align: center;
}

.booking button {
    padding: 5px 10px;
}

.movie-title {
    font-family: "Cairo", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
}

.movie-item:hover .movie-button {
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.movie-item:hover .movie-title {
    transition: all 0.5s ease-in-out;
    transform: translateX(-100%);
}

@media screen and (max-width: 1023px) {
    .movies {
        --spacing: 15px;
        --columns: 3;
        padding: 0 25px;
    }
    .user-option .btn-primary {
        margin-right: 2px;
    }
}

@media screen and (max-width: 768px) {
    .movies {
        --spacing: 15px;
        --columns: 1;
        padding: 0 25px;
    }
    .user-option .btn-primary {
        margin-right: 10px;
    }
}