<div style="background-color: #fcfdf0; padding-top: 10px; padding-bottom: 10px">
    <div class="section container my-5">
        <div class="header">
            <div class="title">
                <h3>Danh sách phim</h3>
            </div>
            <div class="select">
                <ul>
                    <li class="btn">
                        <a class="btn-1 active">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span> Phim đang chiếu
                        </a>
                    </li>
                    <li class="btn">
                        <a class="btn-2">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span> Phim sắp chiếu
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="movies">
            <div class="movie-item">
                <img src="../../../assets/images/series/end-game.jpg" alt="">
                <div class="movie-content">
                    <div class="movie-title">
                        Avengers
                    </div>
                    <div class="booking">
                        <div class="user-option">
                            <a class="btn btn-danger">Trailer</a>
                            <a class="btn btn-primary">Đặt vé</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="movie-item">
                <img src="../../../assets/images/series/blood-shot.jpg" alt="">
                <div class="movie-content">
                    <div class="movie-title">
                        Avengers
                    </div>
                    <div class="booking">
                        <div class="user-option">
                            <a class="btn btn-danger">Trailer</a>
                            <a class="btn btn-primary">Đặt vé</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="movie-item">
                <img src="../../../assets/images/series/bat-man.jpg" alt="">
                <div class="movie-content">
                    <div class="movie-title">
                        Avengers
                    </div>
                    <div class="booking">
                        <div class="user-option">
                            <a class="btn btn-danger">Trailer</a>
                            <a class="btn btn-primary">Đặt vé</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="movie-item">
                <img src="../../../assets/images/series/end-game.jpg" alt="" routerLink='/movies/detail'>
                <div class="movie-content">
                    <div class="movie-title">
                        Avengers
                    </div>
                    <div class="booking">
                        <div class="user-option">
                            <a class="btn btn-danger">Trailer</a>
                            <a class="btn btn-primary">Đặt vé</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="movie-item">
                <img src="../../../assets/images/series/end-game.jpg" alt="">
                <div class="movie-content">
                    <div class="movie-title">
                        Avengers
                    </div>
                    <div class="booking">
                        <div class="user-option">
                            <a class="btn btn-danger">Trailer</a>
                            <a class="btn btn-primary">Đặt vé</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="movie-item">
                <img src="../../../assets/images/series/end-game.jpg" alt="">
                <div class="movie-content">
                    <div class="movie-title">
                        Avengers
                    </div>
                    <div class="booking">
                        <div class="user-option">
                            <a class="btn btn-danger">Trailer</a>
                            <a class="btn btn-primary">Đặt vé</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>