.container .header {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/member-star.PNG) no-repeat scroll center bottom / 320px auto transparent;
    height: 65px;
    margin-bottom: 30px;
    padding-bottom: 100px;
    text-align: center;
    width: 100%;
    margin-top: 32px;
}

.container .header h1 {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/member-title.png) no-repeat scroll center center / 465px auto transparent;
    font-size: 0;
    height: 65px;
    margin: 0;
}

.select-bar ul {
    margin: 0px auto;
    padding-left: 0px;
    display: flex;
    margin-left: -25px;
}

.select-bar ul li {
    margin-left: 25px;
    list-style: none;
    display: flex;
    height: 60px;
    padding: 0 15px;
    background: #d7d2c3;
    border: 1px solid #c6c6c6;
    text-align: center;
    cursor: pointer;
}

.select-bar ul li a {
    line-height: 60px;
    text-transform: uppercase;
    text-decoration: none;
    color: #6a4400 !important;
    font-weight: bold;
}

.select-bar ul li.active {
    background: none repeat scroll 0 0 #f59331
}

.select-bar ul li.active a {
    color: #fff !important;
    font-weight: bold;
}

.content {
    margin-top: 20px;
    padding-top: 55px;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 50px;
}

@media only screen and (max-width: 1200px) {
    .select-bar ul {
        display: block;
    }
    .select-bar ul li {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .select-bar ul {
        display: block;
        width: 100%;
    }
    .content {
        width: 100%;
    }
    .container .header h1 {
        background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/member-title.png) no-repeat scroll center center / 225px auto transparent;
        font-size: 0;
        height: 65px;
        margin: 0;
    }
}
