<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>CGV Việt Nam</h4>
                <ul>
                    <li><a routerLink='about-cgv/about-us'>Giới thiệu</a></li>
                    <li><a routerLink='cgv-online'>Tiện ích online</a></li>
                    <li><a routerLink='gift-card'>Thẻ quà tặng</a></li>
                    <li><a routerLink='recruitment'>Tuyển dụng</a></li>
                    <li><a routerLink='about-cgv/contacts'>Liên hệ quảng cáo</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Điều khoản sử dụng</h4>
                <ul>
                    <li><a routerLink='about-cgv/terms-conditions'>Điều khoản chung</a></li>
                    <li><a routerLink='about-cgv/terms-use'>Điều khoản giao dịch</a></li>
                    <li><a routerLink='about-cgv/payment-policy'>Chính sách thanh toán</a></li>
                    <li><a routerLink='about-cgv/privacy-policy'>Chính sách bảo mật</a></li>
                    <li><a routerLink='about-cgv/faq'>Câu hỏi thường gặp</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Chăm sóc khách hàng</h4>
                <ul>
                    <li><a>Hotline: 1900 6017</a></li>
                    <li><a>Giờ làm việc: 8:00 - 22:00</a></li>
                    <li><a href="">Email hỗ trợ: <span style="text-transform: lowercase">cgvvn@gmail.com</span></a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Kết nối với chúng tôi</h4>
                <div class="social-link">
                    <a href="https://www.facebook.com/cgvcinemavietnam" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.youtube.com/cgvvietnam" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a href="https://www.instagram.com/cgvcinemasvietnam/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>