<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>CGV Việt Nam</h4>
                <ul>
                    <li><a href="">Giới thiệu</a></li>
                    <li><a href="">Tiện ích online</a></li>
                    <li><a routerLink='gift-card'>Thẻ quà tặng</a></li>
                    <li><a href="">Tuyển dụng</a></li>
                    <li><a href="">Liên hệ quảng cáo</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Điều khoản sử dụng</h4>
                <ul>
                    <li><a href="">Điều khoản chung</a></li>
                    <li><a href="">Điều khoản giao dịch</a></li>
                    <li><a href="">Chính sách thanh toán</a></li>
                    <li><a href="">Chính sách bảo mật</a></li>
                    <li><a href="">Câu hỏi thường gặp</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Chăm sóc khách hàng</h4>
                <ul>
                    <li><a href="">Hotline: 1900 6017</a></li>
                    <li><a href="">Giờ làm việc: 8:00 - 22:00</a></li>
                    <li><a href="">Email hỗ trợ: <span style="text-transform: lowercase">cgvvn@gmail.com</span></a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Kết nối với chúng tôi</h4>
                <div class="social-link">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>